<!-- Provides list of tacked shows !-->

<ul class="dots"><li></li><li></li><li></li></ul>
<ul class="query-results row">
  <li class="show col-sm-6" ng-repeat="show in myShows.results track by show.id">
    <div class="inner">
      <h2>{{show.name}} <span class="first-air">{{show.first_air_date}}</span></h2>
      <div class="show-image">
        <img ng-src="http://image.tmdb.org/t/p/w780{{show.poster_path}}" />
      </div>
      <div class="show-content" >
        {{show.vote_average}}<br />
        <span class="num-votes">From {{show.vote_count}} votes.</span>
        <button class="track-btn untrack" ng-click="myShows.unTrackShow(show.id)">Untrack Show</button>
      </div>

      <!-- Drop Down for notes !-->
      <form name="form" ng-submit="myShow.includeNote(newNote)">
        <input type="text" name="newNote" ng-model="newNote" required />
        <button ng-disabled="form.$invalid">Add Note</button>
      </form>

      <ul>
        <li ng-repeat="note in myShow.resultsNotes">
          <span>{{myShow.note}}</span>

        </li>
      </ul>
      <!-- End !-->
      <div class="clearfix"></div>
    </div>
  </li>
  <li class="no-data" ng-if="myShows.results === false">Find shows to track by using the search bar above.</li>
  <li class="no-data" ng-if="myShows.results.length == 0">Your search did not return any results, try again.</li>
</ul>
<ul class="dots bottom"><li></li><li></li><li></li></ul>